# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

#temp files
*.swp
*.swo

#project specific files
fillit
*.fillit
.vscode/settings.json
.vscode/ipch/cc2f54a10371135e/map.ipch
.vscode/ipch/17d46b5165d65a2c/solvers.ipch
.vscode/ipch/aee7b58bc95e8c91/mmap_address.bin
.vscode/ipch/aee7b58bc95e8c91/validation.ipch
.vscode/ipch/17d46b5165d65a2c/solvers.ipch
.vscode/ipch/cc2f54a10371135e/map.ipch
